.Rproj.user
.Rhistory
.RData
.Ruserdata
Celex English
Unisyn GAM
Elan File Checkers.Rproj
CB Elan File Checker/dict/userDict.txt
JH Elan File Checker/dict/userDict.txt
*.lnk
*.psfx
SouthlandCBElanFileCheckerZIP/
UnzipTest/
Test/
celexDict.txt
unisynDict.txt
**test*-current/
