.Rproj.user
.Rhistory
.RData
.Ruserdata
Celex English
Elan File Checkers.Rproj
CB Elan File Checker/dict/userDict.txt
JH Elan File Checker/dict/userDict.txt
*.lnk
SouthlandCBElanFileCheckerZIP/
UnzipTest/
Test/
celexDict.txt
**test*-current/
