.Rproj.user
.Rhistory
.RData
.Ruserdata
Celex English
Elan File Checkers.Rproj
CB Elan File Checker/dict/userDict.txt
JH Elan File Checker/dict/userDict.txt
.gitignore
Test Files.lnk
SouthlandCBElanFileCheckerZIP/
UnzipTest/
Test/
