/* Make input button/drag-n-drop larger */
.btn-file , .form-control {
  height: 300px;
}

/* Do/don't display
.display {
  display: inherit;
}
.dont-display {
  display: none;
}
*/

/* Good & bad */
.good {
  font-weight: bold;
  color: forestgreen;
}
.bad {
  font-weight: bold;
  color: red;
}


/* Gray-out */
.grayout {
  color: lightgray;
}

/* Reupload heading */
h1#reuploadHead {
  font-weight: bold;
}

/* Subheads: Not too big */
h3 {
  font-size: 16px;
}

/* Overlap tables: look nicer */
.overlap-table {
  margin-left: 20px;
  width: 75%;
}
.overlap-table > tbody > tr > th {
  border-top-style: none;
}
